<a href="https://colab.research.google.com/github/Gangasree743/Ganga/blob/main/JULY_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=6
b=7
c=26
d=32
if a>b and a>c and a>d:
  print(a)
elif b>a and b>c and b>d:
    print (b)
elif c>a and c>b and c>d:
    print(c)
else :
    print(d)

32

KILOMETERS TO MILES 1KM =0.621371

In [ ]:
km = 3.5
conv_fac=0.621371
miles = km * conv_fac
print(miles)

2.1747985

CELSIUS TO FAHRENHEIT (1C = 1.8F)

In [ ]:
celsius = 37.55
fahrenheit = (celsius * 1.8) + 32
print(fahrenheit)

99.59

NUMBER IS POSTIVE, NEGATIVE OR ZERO

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 33
Positive number

NUM IS EVEN OR ODD

In [ ]:
n=int(input())
if(n%2==0):
  print("Even")
else:
  print("Odd")

6
Even

LEAP YEAR

In [ ]:
year = 4000
if(year%400==0) or ((year%4==0) and (year%100!=0)):
  print("Leap Year")
else:
  print("Not a Leap Year")

Leap Year

LARGEST AMONG THREE

In [ ]:
a=2
b=9
c=6
if a>=b and a>=c:
  print(a,"is largest")
elif b>=a and b>=c:
  print(b,"is largest")
else:
  print(c,"is largest")

9 is largest