<a href="https://colab.research.google.com/github/Gangasree743/Ganga/blob/main/JULY_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KILOMETERS TO MILES 1KM =0.621371

In [1]:
km = 3.5
conv_fac=0.621371
miles = km * conv_fac
print(miles)

2.1747985

CELSIUS TO FAHRENHEIT (1C = 1.8F)

In [2]:
celsius = 37.55
fahrenheit = (celsius * 1.8) + 32
print(fahrenheit)

99.59

NUMBER IS POSTIVE, NEGATIVE OR ZERO

In [3]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 33
Positive number

NUM IS EVEN OR ODD

In [5]:
n=int(input())
if(n%2==0):
  print("Even")
else:
  print("Odd")

6
Even

LEAP YEAR

In [8]:
year = 4000
if(year%400==0) or ((year%4==0) and (year%100!=0)):
  print("Leap Year")
else:
  print("Not a Leap Year")

Leap Year

LARGEST AMONG THREE

In [10]:
a=2
b=9
c=6
if a>=b and a>=c:
  print(a,"is largest")
elif b>=a and b>=c:
  print(b,"is largest")
else:
  print(c,"is largest")

9 is largest