<a href="https://colab.research.google.com/github/Gangasree743/Ganga/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena"],
       "I'd": [2,5,5,6] }
D= pd.DataFrame(data)
print(D)

    Name  I'd
0  Tejuu    2
1  Likki    5
2  Ganga    5
3  Meena    6

In [2]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.head())

    Name  I'd
0  Tejuu    2
1  Likki    5
2  Ganga    5
3  Meena    6
4  Roopa    9

In [3]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.tail())

     Name  I'd
1   Likki    5
2   Ganga    5
3   Meena    6
4   Roopa    9
5  boostu    7

In [4]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   I'd     6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes
None

In [6]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.loc[4])

Name    Roopa
I'd         9
Name: 4, dtype: object

In [7]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.iloc[1:5])

    Name  I'd
1  Likki    5
2  Ganga    5
3  Meena    6
4  Roopa    9

In [12]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D["Name"])

0     Tejuu
1     Likki
2     Ganga
3     Meena
4     Roopa
5    boostu
Name: Name, dtype: object

In [14]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.shape)

(6, 2)

In [15]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.describe)

<bound method NDFrame.describe of      Name  I'd
0   Tejuu    2
1   Likki    5
2   Ganga    5
3   Meena    6
4   Roopa    9
5  boostu    7>

In [16]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.columns)

Index(['Name', 'I'd'], dtype='object')

In [17]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.index)

RangeIndex(start=0, stop=6, step=1)

In [18]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Roopa","boostu"],
       "I'd": [2,5,5,6,9,7] }
D= pd.DataFrame(data)
print(D.isnull())

    Name    I'd
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False

In [25]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Ganga","boostu"],
       "I'd": [2,5,5,9,7,7] }
D= pd.DataFrame(data)
print(D.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [29]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Ganga","boostu"],
       "I'd": [2,5,5,9,7,7] }
D= pd.DataFrame(data)
print(D.fillna(5))

     Name  I'd
0   Tejuu    2
1   Likki    5
2   Ganga    5
3   Meena    9
4   Ganga    7
5  boostu    7

In [34]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Ganga","boostu"],
       "I'd": [2,79,5,40,7,7] }
D= pd.DataFrame(data)
print(D[D["I'd"]<20])

     Name  I'd
0   Tejuu    2
2   Ganga    5
4   Ganga    7
5  boostu    7

In [36]:
import pandas as pd
data={"Name": ["Tejuu","Likki","Ganga","Meena","Ganga","boostu"],
       "I'd": [2,79,5,40,7,7] }
D= pd.DataFrame(data)
print(D.drop_duplicates())

     Name  I'd
0   Tejuu    2
1   Likki   79
2   Ganga    5
3   Meena   40
4   Ganga    7
5  boostu    7